(XRP) Market_V23_MACRO.json
{
  "name": "(XRP) Market_V23_MACRO",
  "nodes": [
    {
      "parameters": {
        "url": "http://172.17.0.1:3001/candles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "granularity",
              "value": "3600"
            },
            {
              "name": "limit",
              "value": "300"
            },
            {
              "name": "pair",
              "value": "XRP-PERP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        336
      ],
      "id": "9e954d40-cca5-4ae9-822a-30df3a462f17",
      "name": "Historical Candles"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:3001/price",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pair",
              "value": "XRP-PERP"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        336
      ],
      "id": "53043674-ad4d-4300-910f-4f3429ef4bab",
      "name": "Current_Price",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "futurec-trigger-xrp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -272,
        336
      ],
      "name": "Webhook",
      "id": "7df63099-9360-40e6-b5d8-f2f0e0607773",
      "webhookId": "5a79f66e-c586-44d6-8c3d-57051864a0e9"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:3001/fng",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        336
      ],
      "id": "6dfecb30-135b-45c2-aa91-dbdfc2d758f7",
      "name": "F&G Index"
    },
    {
      "parameters": {
        "url": "=http://172.17.0.1:3001/news?query={{ $('Current_Price').first().json.pair.split('-')[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        336
      ],
      "id": "3e607a88-1ec8-4b65-8332-8e7aecd27367",
      "name": "News/Sentiment"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:3001/macro",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        336
      ],
      "id": "4f0d7e6e-84c7-4478-8182-c16790e688eb",
      "name": "Macro Calendar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e62c9875-529b-4f6c-aca6-aff55fd9d7c5",
              "leftValue": "={{ $json.confidence_score }}",
              "rightValue": 74,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "4d72f026-ed60-434b-ba1d-18367fbc9207",
              "leftValue": "={{ $json.final_signal }}",
              "rightValue": "BUY|SELL",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        544
      ],
      "id": "f701b9cc-1ec2-42e9-a9cd-69558ea25435",
      "name": "Risk Filter"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURATION ---\nconst PERIOD = 14;\nconst ATR_MAX_THRESHOLD = 0.03; \nconst RSI_NEUTRAL_MIN = 48;\nconst RSI_NEUTRAL_MAX = 52;\n\n// --- GET DATA FROM CANDLES ---\nconst allItems = $items('Historical Candles');\nconst candleData = allItems.map(item => item.json);\n\n// --- GET ORIGINAL WEBHOOK DATA (Pass-Through) ---\n// Fix: Grab data from Webhook to ensure trend/status aren't lost in Test Mode\nlet webhookData = {};\ntry {\n    webhookData = $('Webhook').first().json;\n} catch (e) {}\n\nlet current_price = 0;\nif (Array.isArray(candleData) && candleData.length > 0) {\n    // Index 0 is the most recent candle in Coinbase API\n    const lastCandle = candleData[0]; \n    // Support both Finnhub {c:[]} and Coinbase [[t,l,h,o,c,v]] formats\n    if (Array.isArray(lastCandle)) {\n        current_price = parseFloat(lastCandle[4]); // Coinbase\n    } else {\n        current_price = parseFloat(lastCandle['c'] || 0); // Flat object fallback\n    }\n}\n\nif (current_price === 0) {\n    return [{ json: { signal_blocked: true, reason: \"Error: No price in candles\" } }];\n}\n\n// --- PARSE CANDLES FOR CALCULATION ---\n// Handle Coinbase Format [[time, low, high, open, close, vol], ...]\nconst candles = candleData.map(c => ({\n    close: Array.isArray(c) ? parseFloat(c[4]) : parseFloat(c['4'] || c.close || 0),\n    high: Array.isArray(c) ? parseFloat(c[2]) : parseFloat(c['2'] || c.high || 0),\n    low: Array.isArray(c) ? parseFloat(c[1]) : parseFloat(c['1'] || c.low || 0)\n}));\n\n// --- CALCULATION FUNCTIONS ---\nfunction calculateATR(data, p) {\n    let sum = 0;\n    for (let i = 0; i < p; i++) {\n        const c = data[i];\n        const prev = data[i+1] ? data[i+1].close : c.close;\n        sum += Math.max(c.high - c.low, Math.abs(c.high - prev), Math.abs(c.low - prev));\n    }\n    return sum / p;\n}\n\nfunction calculateRSI(data, p) {\n    let g = 0, l = 0;\n    for (let i = 0; i < p; i++) {\n        const diff = data[i].close - data[i+1].close;\n        if (diff > 0) g += diff; else l -= diff;\n    }\n    if (l === 0) return 100;\n    return 100 - (100 / (1 + ((g/p) / (l/p))));\n}\n\nconst atr_v = calculateATR(candles, PERIOD);\nconst rsi_v = calculateRSI(candles, PERIOD);\nconst atr_p = (atr_v / current_price);\n\nlet blocked = false;\nlet msg = \"OK\";\n\nif (atr_p > ATR_MAX_THRESHOLD) {\n    blocked = true;\n    msg = \"High Volatility\";\n}\nif (rsi_v >= RSI_NEUTRAL_MIN && rsi_v <= RSI_NEUTRAL_MAX) {\n    blocked = true;\n    msg += \" | RSI Neutral\";\n}\n\nreturn [{ json: {\n    ...webhookData, // <--- CRITICAL FIX: Pass through original fields (trend, etc.)\n    current_price: current_price,\n    atr_value: atr_v,\n    atr_percentage: atr_p,\n    rsi_value: rsi_v,\n    signal_blocked: blocked,\n    reason_code4: msg\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        336
      ],
      "id": "061ee267-9f49-4885-864e-6ad7ea1a25ba",
      "name": "Code/Function (ATR/RSI Filter)"
    },
    {
      "parameters": {
        "chatId": "-5238546812",
        "text": "={{$json.message}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        528
      ],
      "id": "4c0c3e3b-7562-4440-b466-72d431fe5bfc",
      "name": "Telegram (Report)",
      "webhookId": "01bcba6c-bcda-4892-998c-e67f2855e89a",
      "credentials": {
        "telegramApi": {
          "id": "2HnE4TLrYpz4Yd6o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Universal Parser V2\nconst aiResponse = items[0].json;\nconst livePrice = parseFloat($items(\"Code/Function (ATR/RSI Filter)\")[0].json.current_price || 0);\n\n// Ensure confidence score lands in the correct variable\nconst signal = aiResponse.signal || \"WAIT\";\n// Fix: Gemini can send 'confidence' OR 'confidence_score' - handle both\nconst conf = aiResponse.confidence || aiResponse.confidence_score || 0;\n\nreturn {\n    json: {\n        ...aiResponse,\n        final_signal: signal,\n        current_price: livePrice,\n        confidence_score: conf // Use 'conf' so Risk Filter always sees a number\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        544
      ],
      "id": "9fcfd181-6bce-4c14-aabe-129c27c0c6e9",
      "name": "Parser"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:3001/market-context",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        336
      ],
      "id": "6916201e-1e1a-4693-8caf-d0cee47582d9",
      "name": "Market Context"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3001/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pair\": \"{{ $('Current_Price').first().json.pair }}\",\n  \"trend\": \"{{ $('Code/Function (ATR/RSI Filter)').first().json.trend_direction }}\",\n  \"rsi\": \"{{ $('Code/Function (ATR/RSI Filter)').first().json.rsi_value }}\",\n  \"technical_status\": \"{{ $('Code/Function (ATR/RSI Filter)').first().json.technical_status }}\",\n  \"fng_value\": \"{{ $('F&G Index').first().json.data[0].value }}\",\n  \"fng_label\": \"{{ $('F&G Index').first().json.data[0].value_classification }}\",\n  \"macro_events\": {{ JSON.stringify($('Macro Calendar').first().json.data) }},\n  \"market_context\": {{ JSON.stringify($('Market Context').first().json) }},\n  \"api_key\": \"AIzaSyBuJOzQitBHNcKqJnOFRC8z0ky2Ru5BVfM\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1168,
        336
      ],
      "id": "fa07fbf6-db76-44d8-9509-9998ced0d2f1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3001/execute-order",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pair\": \"XRP-USD\",\n  \"signal\": \"{{ $json.final_signal }}\",\n  \"confidence\": \"{{ $json.confidence || 'N/A' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        528
      ],
      "id": "execute-order-xrp-1769394496455",
      "name": "Execute Order (Oracle API)"
    }
  ],
  "pinData": {},
  "connections": {
    "Historical Candles": {
      "main": [
        [
          {
            "node": "Current_Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current_Price": {
      "main": [
        [
          {
            "node": "Code/Function (ATR/RSI Filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "F&G Index": {
      "main": [
        [
          {
            "node": "News/Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News/Sentiment": {
      "main": [
        [
          {
            "node": "Macro Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Macro Calendar": {
      "main": [
        [
          {
            "node": "Market Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Context": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Filter": {
      "main": [
        [
          {
            "node": "Execute Order (Oracle API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code/Function (ATR/RSI Filter)": {
      "main": [
        [
          {
            "node": "F&G Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "Risk Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Historical Candles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Order (Oracle API)": {
      "main": [
        [
          {
            "node": "Telegram (Report)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d1c7220d-558c-4000-a86a-f802ecd94211",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbc77a83d2b4b81619f9b25f03d3eb04bad62bf94cb1838a3d14a7b99cb0d36c"
  },
  "id": "dCkN4uxMSdUG665J",
  "tags": []
}